jupyter==1.0.0
numpy==1.13.3
nltk==3.2.5
SQLAlchemy==1.2.0b3
pandas==0.21.0
jupyter_console==5.2.0
qtconsole==4.3.1
notebook==5.2.2
pytz==2017.3
nbformat==4.4.0
tornado==4.5.2
testpath==0.3.1
pandocfilters==1.4.2
bleach==2.1.2
entrypoints==0.2.3
jinja2==2.10
mistune==0.8.3
jsonschema==2.6.0
html5lib==1.0.1
markupsafe==1.0
webencodings==0.5.1
data_analysis==0.0.1
jedi==0.11.0
PyQt5==5.9.1
python_dateutil==2.6.1
python_twitter==3.3.1
sip==4.19.6
six==1.11.0